<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.summer.graduate.dao.ChatRecordDao">
    <insert id="addChatRecord" parameterType="ChatRecord">
        INSERT INTO chat_record(ID, username, text) VALUES (SEQ_chat_record_ID.NEXTVAL, #{username}, #{text})
    </insert>
</mapper>